 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>À propos</h2>
                     <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1">
                    <p>Le Breizh Data Day est la première rencontre de Bretagne dediée aux amoureux de la donnée.</p>
                    <p>Au programme : Conférences Tech, Retours d'expérience et Rencontres</p>
                </div>
                <div class="col-lg-5">
                    <p>Rendez-vous le 2 février 2023 pour la 4e édition, qui se tiendra au Village by CA à Ploufragan (22) !</p>
                </div>
            </div>
        </div>
    </section>
