    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <!--<img class="img-responsive" src="img/breizh_data_day.png" alt="">-->
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.entree }}</span>
                        <hr class="star-light">
                        <span class="skills">Un événement du <u><font color="white"><a href="http://breizhdataclub.org">Breizh Data Club</a></font></u></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
