 <!-- About Section -->
    <section class="success" id="inscription">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>S'inscrire</h2>
                     <hr class="star-light">
                </div>
            </div>
            <div>
              <p>Note : Vous pouvez vous inscrire pour le matin, l'après-midi, ou les deux. </p>
              <p>Si vous souhaitez venir toute la journée, il faudra vous inscrire aux deux séances.</p>
            </div>
            <div align = "center">
              <p>Billeterie à venir...</p>
            </div>
            </div>
        </div>
    </section>