
    <!-- Portfolio Grid Section -->
    <section id="lieu">
      
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Lieu</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
            <div class="row" align = "center">
              <h3>Rendez-vous à l'espace Argoat</h3>
              <p>9 Rue du Plan - 22400 Ploufragan</p>
              <a href="https://www.ca-cotesdarmor.net/Argoat">C'est ICI</a>      
        </div> 
        
    </section>
