
    <!-- Portfolio Grid Section -->
    <section id="lieu">
      
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Lieu</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
            <div class="row" align = "center">
              <h3>Rendez-vous à la Rennes School of Business</h3>
                            <p>15 rue du professeur Jean Pecker</p>
              <div id = "carte" class = "mapresponsive"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2663.205793614255!2d-1.6951806843514017!3d48.12555457922255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480ede210a7447ff%3A0xdb4bb397240326a2!2s15%20Rue%20Professeur%20Jean%20Pecker%2C%2035000%20Rennes!5e0!3m2!1sfr!2sfr!4v1573115664956!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>        
        </div> 
        
    </section>
