
    <!-- Portfolio Grid Section -->
    <section id="lieu">
      
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Lieu</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
            <div class="row" align = "center">
              <h3>Rendez-vous à la CCI d'Ille-et-Vilaine</h3>
              <p>2 Avenue de la Préfecture, 35042 Rennes</p>
              <div id = "carte" class = "mapresponsive"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8079.841585344202!2d-1.6956484964617977!3d48.12362013461349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62407b4994ad72dc!2sCCI+Ille-et-Vilaine!5e0!3m2!1sfr!2sfr!4v1536658462182" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
        
        </div> 
        
    </section>
