
    <!-- Portfolio Grid Section -->
    <section id="intervenants">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Organisateurs</h2>
                </div>
            </div>
            </div>
            
            <div class="row">
              
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://www.advalo.com/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h2 align = "center">Advalo</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/advalo.png" class="img-responsive">
                        </a>
                    </div>
                    
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://data2b.net">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h2 align = "center">Data2b</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/data2b.jpg" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
              
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://doptim.eu">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h2 align = "center">Doptim</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/doptim.png" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
              
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://www.thinkr.fr/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h2 align = "center">ThinkR</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/thinkr.png" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
                    
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Partenaires de l'événement</h2>
                </div>
            </div>
            
            <div class="row">
              
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://lafrenchtech-rennes.fr/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h2 align = "center">La French Tech Rennes Saint Malo</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/french-tech-rennes.png" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
              
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://www.eliga.fr/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h2 align = "center">Eliga</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/eliga.png" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
              
                    <div class="col-sm-4 portfolio-item">
                        <a href="https://www.solocalgroup.com/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h2 align = "center">Solocal</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/solocal.png" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
                    
            </div>
            
        </div>
    </section>