
    <!-- Portfolio Grid Section -->
    <section id="intervenants">
      
        <div class="container">
          
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Orga</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
            <div class="row">
                
<div class="col-sm-4 portfolio-item">
                        <a href="http://www.advalo.com/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h3 align = "center">Advalo</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/advalo.png" class="img-responsive">
                        </a>
                    </div>
                    
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://data2b.net">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h3 align = "center">Data2b</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/data2b.jpg" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
              
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://doptim.eu">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h3 align = "center">Doptim</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/doptim.png" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
              
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://www.thinkr.fr/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h3 align = "center">ThinkR</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/thinkr-logo.png" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
                
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sponsors</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
            <div class="row">
                
<div class="col-sm-4 portfolio-item">
                        <a href="http://lafrenchtech-rennes.fr/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h3 align = "center">La French Tech Rennes Saint Malo</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/french-tech-rennes.png" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
              
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://www.breizhcamp.org/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h3 align = "center">Breizh Camp</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/breizh_camp.png" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
              
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://www.eliga.fr/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h3 align = "center">Eliga</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/eliga.png" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
              
                    <div class="col-sm-4 portfolio-item">
                        <a href="http://www.energiency.com/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h3 align = "center">Energiency</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/energiency.png" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
                
            </div>
        
        </div> 
        
    </section>
