
    <!-- Portfolio Grid Section -->
    <section id="intervenants">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Organisateurs</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
            <div class="row">
                                    <div class="col-sm-4 portfolio-item">
                        <a href="http://www.advalo.com/">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h2 align = "center">Advalo</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/advalo.png" class="img-responsive">
                        </a>
                    </div>
            </div>
            
            <div class="row">
                                    <div class="col-sm-4 portfolio-item">
                        <a href="http://data2b.net">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h2 align = "center">Data2b</h2>
                                </div>
                            </div>
                            <img src="https://raw.githubusercontent.com/breizhdataday/breizhdataday.github.io/master/img/partenaires/data2b.jpg" class="img-responsive" width="250" height="250">
                        </a>
                    </div>
            </div>
        
        </div>
    </section>