 <!-- About Section -->
    <section class="programme" id="programme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                 <h3>Programme :</h3>
                    <hr class="star-light">
                </div>
            </div>
            <h4>Grand public :</h4>
            <div class="row">

                <div class="col-lg-4 col-lg-offset-2">
                    <p class = "titre">Matinée 09h15 - 12h45</p>
                    <p>9h15 à 10h -Elizabeth Lehagre, <em>Et si on parlait éthique des données ?</em>
                    <p>10h à 10h45 -  Gérard de Boisboissel, <em>Intelligence Artificielle, les enjeux d’un nouvel outil au service des militaires</em>
                    <p>10h45 - <em>Pause Networking</em>
                    <p>11h15 à 12h - Caroline Goubaud, <em>La data au service du marketing</em>
                    <p>12h à 12h45 - Hélène Naudon, <em>Des Data et des Hommes, comment favoriser la transformation Data de SNCF Matériel</em></p>
                </div>
                <div class="col-lg-4">
                    <p class = "titre">Après-midi 14h15 - 16h30</p>
                    <p>14h15 à 15h - Sébastien Pons, <em>L'Insee, un institut qui collecte et diffuse des données toujours plus fines</em>
                    <p>15h à 15h45 - Maxime Havez, <em>L'adoption de l'IA en entreprise</em>
                    <p>15h45 à 16h30 - Véronique Bourcier, <em> Créer les outils dans un cadre propice à leur utilisation pour le contrôle qualité de données cliniques</em>
                </div>>
            </div>
            <h4>Tech:</h4>
            <div class="row">
                <!--<p>À venir...</p>>-->
                <div class="col-lg-4 col-lg-offset-2">
                    <p class = "titre">Matinée 09h à 12h45</p>
                    <p>9h15 à 10h - Fabien Hupel et Ludovic legrand, <em>L’IA pour améliorer la satisfaction client, Utiliser le Machine Learning pour prédire le nombre d’appels sinistres</em>
                    <p>10h à 10h45 - Sylvain Barthelemy, <em>Méthodes de Machine Learning appliquées à l’économie et à la finance</em>
                    <p>10h45 - <em>Pause Networking</em>
                    <p>11h15 à 12h - Cyrielle Mallart Van Wychen, <em>Extraction de connaissances dans des textes écrits – Application à la complétion d’une base de connaissance.</em>
                    <p>12h à 12h45 - Boris Mericskay et Arthur Katossky, <em>Quoi de neuf en cartographie? Regards croisés entre un géographe et un statisticien.</em>
                </div>
                <div class="col-lg-4">
                    <p class = "titre">Après-midi 14h15 à 15h</p>
                    <p>14h15 à 15h - Florent Henon, <em>Analyse prédictive avec le Process Mining et le Machine Learning.</em>
                    <p>15h à 15h45 - Jean-Charles Vialatte, <em>Detecting time series anomalies on the fly with WarpScript.</em>
                    <p>15h45 à 16h30 - Sebastien Loustau, <em>Online Learning - Théorie, algorithmes et plateforme.</em>
                </div
            </div>
        </div>
    </section>
