  <!-- About Section -->
    <section class="programme" id="programme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                 <h3>Programme </h3>
                    <hr class="star-light">
                </div>
            </div>
            <h4> Session RETEX (Retours d'expérience) </h4>
            <div class="row">

                <div class="col-lg-4 col-lg-offset-2">
                    <p class = "titre">Matinée</p>
                    <p>9h30 - A venir, <em>A venir</em>
                    <p>10h15 - A venir, <em>A venir</em>
                    <p>11h - <em>Pause Networking</em>
                    <p>11h30 - A venir, <em>A venir</em>
                    <p>12h15 Pause<em>Déjeuner</em></p>
                </div>
                <div class="col-lg-4">
                    <p class = "titre">Après-midi</p>
                    <p>14h15 - A venir, <em>A venir</em>
                    <p>15h - A venir, <em>A venir</em>
                    <p>15h30 - A venir, <em>A venir</em>
                    <p>16h15 - A venir, <em>A venir</em>
                    <p>17h - Mots de la fin, <em>Prochains rendez-vous</em>
                </div>>
            </div>
            <h4> Session TECH (Algorithmes et technologies) </h4>
            <div class="row">
                <!--<p>À venir...</p>>-->
                <div class="col-lg-4 col-lg-offset-2">
                    <p class = "titre">Matinée</p>
                    <p>9h30 - A venir, <em>A venir</em>
                    <p>10h15 - A venir, <em>A venir</em>
                    <p>11h - <em>Pause Networking</em>
                    <p>11h30 - A venir, <em>A venir</em>
                    <p>12h15 Pause<em>Déjeuner</em></p>
                </div>
                <div class="col-lg-4">
                    <p class = "titre">Après-midi</p>
                    <p>14h15 - A venir, <em>A venir</em>
                    <p>15h - A venir, <em>A venir</em>
                    <p>15h30 - A venir, <em>A venir</em>
                    <p>16h15 - A venir, <em>A venir</em>
                    <p>17h - Mots de la fin, <em>Prochains rendez-vous</em>
                </div
            </div>
        </div>
    </section>

