  <!-- About Section -->
    <section class="programme" id="programme">
        <div class="container">
          <div class="row">
                <div class="col-lg-12 text-center">
                 <h3>En prélude, <p> voici un premier aperçu de quelques conférences prévues <p> lors du Breizh Data Day 2023 </h3>
                    <hr class="star-light">
                </div>
            </div>
          
           <div class="col-lg-4 col-lg-offset-2">
             <p class = "titre"> <strong> Thème ou idée </strong> </p>
                    <p>-- <em> Comportements humains </em>
                    <p>-- <em> Zoio - Traitement d'images sur caméra </em>
                    <p>-- <em> Collecte de data drone </em>
                    <p>-- <em> Les acteurs I.A. / Data en Bretagne </em>
                    <p>-- <em> Les aides financières actuelles en Bretagne </em>
                    <p>-- <em> Sécurité Alimentaire (data, etc.), MetaBiot </em>
                    <p>-- <em> Optimiser le lien avec les citoyens + questions de déchets, qualité de l'eau, etc. </em>                
                    <p>-- <em> Modéliser l'Economie par l'I.A. </em>                            
          </div>

          <div class="col-lg-4">
                    <p class = "titre"> <strong> Conférencier <//strong> </p>
                    <p>-- <em> Thierry HERVE </em>
                    <p>-- <em> Thomas ROC </em>
                    <p>-- <em> Littomatique </em>
                    <p>-- <em> Yann DIEULANGARD (BDI) </em>
                    <p>-- <em> Innôzh </em>
                    <p>   <em>  </em>
                    <p>-- <em> Marianne CHEMALY (ANSES / CNAM) </em>                     
                    <p>   <em>  </em>
                    <p>-- <em> Hoali </em>      
                    <p>-- <em> Sylvain Barthélémy (TAC Economics) </em>
          </div>>
          
            <div class="row">
                <div class="col-lg-12 text-center">
                 <h3> - - - - - </h3>
                 <p>
                 <h3> Nous préparons un programme "aux petits oignons" qui sera dévoilé graduellement au fur et à mesure.
                   <p> <em> Stay tuned! </em> </h3>
                    <hr class="star-light">
                </div>
            <p>
            <p>
            <p>
              
            <div class="row">
                <div class="col-lg-12 text-center">
                 <h3>Programme </h3>
                    <hr class="star-light">
                </div>
            </div>
          <h4> Session RETEX <sub> (Retours d'expérience) </sub> </h4>
            <div class="row">

                <div class="col-lg-4 col-lg-offset-2">
                    <p class = "titre">Matinée</p>
                    <p>9h30 - A venir, <em>A venir</em>
                    <p>10h15 - A venir, <em>A venir</em>
                    <p>11h - <em>Pause Networking</em>
                    <p>11h30 - A venir, <em>A venir</em>
                    <p>12h15 Pause<em>Déjeuner</em></p>
                </div>
                <div class="col-lg-4">
                    <p class = "titre">Après-midi</p>
                    <p>14h15 - A venir, <em>A venir</em>
                    <p>15h - A venir, <em>A venir</em>
                    <p>15h30 - A venir, <em>A venir</em>
                    <p>16h15 - A venir, <em>A venir</em>
                    <p>17h - Mots de la fin, <em>Prochains rendez-vous</em>
                </div>>
            </div>
          <h4> Session TECH <sub> (Algorithmes et technologies) </sub> </h4>
            <div class="row">
                <!--<p>À venir...</p>>-->
                <div class="col-lg-4 col-lg-offset-2">
                    <p class = "titre">Matinée</p>
                    <p>9h30 - A venir, <em>A venir</em>
                    <p>10h15 - A venir, <em>A venir</em>
                    <p>11h - <em>Pause Networking</em>
                    <p>11h30 - A venir, <em>A venir</em>
                    <p>12h15 Pause<em>Déjeuner</em></p>
                </div>
                <div class="col-lg-4">
                    <p class = "titre">Après-midi</p>
                    <p>14h15 - A venir, <em>A venir</em>
                    <p>15h - A venir, <em>A venir</em>
                    <p>15h30 - A venir, <em>A venir</em>
                    <p>16h15 - A venir, <em>A venir</em>
                    <p>17h - Mots de la fin, <em>Prochains rendez-vous</em>
                </div
            </div>
        </div>
    </section>

