
    <!-- Portfolio Grid Section -->
    <section id="intervenants">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Speakers - Conférence</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.conf %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                  <p>&nbsp;</p>
                                  <h3 align = "center">{{ post.client }}</h3>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <br>
            <br>
            <div align = "center">
              <h4>Plus d'annonces prochainement</h4>
            </div>
        </div>
    </section>
